body{
    margin: 0;
    padding: 0;
}
.container-fluid .navbar-brand{
    font-weight: bolder;
    font-size: 1.6rem;
    margin-left: 10%;
    background-color: lightgray;
    padding: 5px;
    border-radius: 5px;
}
#home-about-contact-main{
    max-width: 1590px;
margin: auto;

}

#home-about-contact-div{
    background-color:lightgray;
    /* margin: auto; */
    
   /* border: 2px solid black; */
   
}
#home-about-contact-div .ul-home{
    position: inherit;
    margin-top: 10px;
    /* border: 2px solid black; */
    display: inline-flex;
    list-style: none;
    margin-left: 15%;
    padding-top: 5px;
  

    width: auto;

    
    

}
#home-about-contact-div .ul-home li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
    margin-left: 60px;
    

    
    
}
#main-div{
    /* border: 2px solid black; */
    max-width: 1213px;
    align-items: center;
    margin: auto;

}
#inner-main{
    /* border: 2px solid black; */
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: auto;
    
    
}

#card-div{
    /* border: 2px solid black; */
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: auto;
    display: inline-flex;
    /* box-shadow: 0px 0px 0px 0.2px gray; */
    flex-wrap: wrap;
    justify-content: space-between;
}
#card-div .card{
    transition: transform 1s;
    margin-bottom: 3%;
}
#card-div .card:hover{
    transform: scale(1.05);
}

#card-div .card .card-body p{
    font-size: 0.8rem;
    color: gray;
    font-weight: bold;
}
#about-us-div{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    /* border: 2px solid black; */
}

@media screen and (max-width:700px){
    #home-about-contact-main{
     width:100%;
     margin-left: 2%;
     /* font-size: 0.5rem; */
        margin: auto;
    }
    #home-about-contact-div .ul-home li a{
        font-size: 0.8rem;
    }
    #home-about-contact-div .ul-home{
        margin-left: 1%;
    }
}



#about-us-div span{
    /* border: 2px solid black; */
    font-weight: bold;
    font-size: 1.5rem;
    font-family: sans-serif;
}
#about-us-div>p>b{
    font-size: 0.9rem;
    font-family: cursive;
}

.footer{
    background-color: rgb(35,40,45);
    width: 100%;
    max-width: 1523px;
    margin: auto;
    height: auto;
    color: white;
    text-align:center
}
.footer a{
text-decoration: none;
color: white;
font-family: cursive;
font-weight: 500;
}
